.member {
  width: 100%;
  max-width: 840px;
  display: grid;
  grid-template-columns: 70px 50px 2fr 1fr 120px;
  align-items: center;
  column-gap: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: var(--playerBgHover);

  .rank {
    text-align: center;
  }

  .cover {
    img {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .name {
    font-size: 16px;
  }

  .points {
    font-size: 20px;
    color: var(--primary);
    text-align: center;
  }

  .createdAt {
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .member {
    grid-template-columns: 70px 50px 2fr 1fr;
    column-gap: 15px;
    .points {
      text-align: end;
    }
    .createdAt {
      display: none;
    }
  }
}
