.song {
  display: grid;
  grid-template-columns: 20px 70px 2fr 1fr 50px 50px 50px 50px;
  align-items: center;
  padding: 15px 0;

  &:hover {
    background-color: var(--playerBgHover);
  }

  .rank {
    font-weight: bold;
    text-align: center;
  }

  .cover {
    position: relative;
    cursor: pointer;
    margin-left: 20px;

    img {
      display: block;
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 5px;
    }

    .overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;

      .fa-play {
        color: white;
      }
    }

    &:hover .overlay {
      opacity: 1;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    .title {
      font-size: 16px;
      line-height: 1.3;

      --max-lines: 2;
      display: -webkit-box;
      -webkit-line-clamp: var(--max-lines);
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .artist {
      font-size: 14px;
      color: var(--subText);
      line-height: 1.3;

      --max-lines: 1;
      display: -webkit-box;
      -webkit-line-clamp: var(--max-lines);
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .album {
    padding: 0 10px;
    font-size: 14px;

    --max-lines: 1;
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .view {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }

  .play,
  .add,
  .like,
  .remove {
    text-align: center;
    cursor: pointer;
  }

  .play {
    i {
      position: relative;
      left: 5px;
    }
  }

  .isLiked {
    color: var(--primary);
  }
}

@media screen and (max-width: 1280px) {
  .song {
    grid-template-columns: 20px 70px 1fr 50px 50px 50px 50px;
    .album {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .song {
    grid-template-columns: 20px 1fr 40px 40px 40px;
    .cover,
    .view {
      display: none;
    }
  }
}

.mini-song {
  display: flex;
  align-items: center;

  .cover {
    position: relative;
    cursor: pointer;
    margin-right: 10px;

    img {
      display: block;
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 5px;
    }

    .overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;

      .fa-play {
        color: white;
      }
    }

    &:hover .overlay {
      opacity: 1;
    }
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7.5px;

    .title {
      font-size: 16px;
      --max-lines: 1;
      display: -webkit-box;
      -webkit-line-clamp: var(--max-lines);
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .artist-album {
      font-size: 12px;
      color: var(--subText);
      --max-lines: 1;
      display: -webkit-box;
      -webkit-line-clamp: var(--max-lines);
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .play,
  .add,
  .like {
    padding: 10px;
    text-align: center;
    cursor: pointer;

    i {
      visibility: hidden;
    }
  }

  .isLiked {
    color: var(--primary);
  }

  &:hover .play i,
  &:hover .add i,
  &:hover .like i {
    visibility: visible;
  }
}
