//- name, coverUrl(optional)
//- errorMsg (500 서버 에러)

extends ../base

block content
    .center
        h2 새 플레이리스트 추가
        form(method="POST")
            .label 이메일
            input(name="name" id="name" placeholder="플레이리스트 이름" type="text" required)
            .label 플레이리스트 커버 이미지 주소
            input(name="coverUrl" id="coverUrl" placeholder="플레이리스트 이미지 주소" type="text")
            button(type="submit") 추가하기
        if errorMsg
            .errorMsg=errorMsg