mixin message(kind, text)
    div.message(class=kind)
        if kind==="ok"
            .icon
                i.fa.fa-check
        if kind==="error"
            .icon
                i.fa.fa-exclamation
        if kind==="warning"
            .icon
                i.fa.fa-exclamation
        .msg=text