// Config
@import "./config/_reset.scss";
@import "./config/_variables.scss";

// Components
@import "./components/nav.scss";
@import "./components/player.scss";
@import "./components/modal.scss";
@import "./components/message.scss";

// Mixins
@import "./mixins/radio.scss";
@import "./mixins/song.scss";
@import "./mixins/playlist.scss";
@import "./mixins/youtube.scss";
@import "./mixins/member.scss";

// Screens
@import "./screens/center.scss";
@import "./screens/left.scss";

// Fonts

// 1. 본문 적용 폰트
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

// 2. Nav - 로고 적용 폰트
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

// 3. Nav - 메뉴 적용 폰트
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// Defaults

* {
  box-sizing: border-box;
}

html[data-theme="dark"] {
  --bg: #000000;
  --text: #ffffff;
  --subText: #888888;
  --playerBg: #191919;
  --playerBgHover: #222222;
  --modalBg: #222222;
  --modalBgHover: #2a2a2a;
  --primary: #f6c2ce;
  --nowPlaying: #3f3f46;
}

html[data-theme="light"] {
  --bg: #ffffff;
  --text: #0e1117;
  --subText: #828282;
  --playerBg: #fe2b74;
  --playerBgHover: blue;
  --modalBg: #ffffff;
  --modalBgHover: #cbcbcb;
  --primary: #fe2b74;
  --nowPlaying: #f6c2ce;
}

body {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: var(--text);

  background-color: var(--bg);

  &.scrollHide {
    overflow-y: hidden;
  }
}

main {
  margin-left: 240px;
  padding: 60px 50px 120px;
}

@media screen and (max-width: 1024px) {
  main {
    padding: 60px 25px 120px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "Pretendard-Regular";
  font-size: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
