// Config
@import "./config/_reset.scss";
@import "./config/_variables.scss";

// Components
@import "./components/nav.scss";
@import "./components/player.scss";

// Mixins

// Screens

// Fonts

// 1. 본문 적용 폰트
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

// 2. Nav - 로고 적용 폰트
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

// 3. Nav - 메뉴 적용 폰트
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// Defaults

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: $text;

  background-color: $bg;

  &.scrollHide {
    overflow-y: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
