.left {
  display: flex;
  flex-direction: column;

  // chart, rank, playlist/like, playlist/my
  h2 {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
    white-space: nowrap;
  }

  // home
  h3 {
    margin-bottom: 14px;
    font-size: 28px;
    font-weight: bold;
    white-space: nowrap;
  }

  // rank 포인트 획득 기준 설명 문구 2줄
  .desc {
    font-size: 14px;
    color: var(--primary);
    margin-top: -10px;
    margin-bottom: 20px;
    padding-left: 10px;
    line-height: 1.5;
  }

  // chart, playlist/like, playlist/:id
  // 수록된 곡이 없을 때 문구
  .msg {
    padding: 10px;
  }

  // home
  .popular {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
  }

  .latest {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    column-gap: 30px;
    row-gap: 15px;
    margin-bottom: 50px;
  }

  .recommended {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
  }

  // playlist/my 플레이리스트 격자 배치
  .my-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  // playlist/:id 플레이리스트 정보
  .playlist-page {
    display: flex;
    column-gap: 30px;
    margin-bottom: 40px;

    .left-col {
      img {
        display: block;
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
    .right-col {
      padding-top: 5px;

      .name {
        font-size: 32px;
        font-weight: bold;
        line-height: 1.3;
      }

      .user {
        margin-bottom: 10px;
        color: var(--subText);
        line-height: 1.3;
      }

      .btns {
        display: flex;
        column-gap: 10px;

        button {
          padding: 8px 16px;
          border-radius: 5px;
          background-color: var(--primary);
          color: var(--text);
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
