.left {
  display: flex;
  flex-direction: column;

  // chart, rank, playlist/like, playlist/my
  h2 {
    margin-bottom: 38px;
    font-size: 38px;
    font-weight: bold;
  }

  // home
  h3 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    white-space: nowrap;
  }

  // playlist/like 좋아요 누른 곡이 없을 때 문구
  .msg {
    margin-top: 10px;
    color: var(--primary);
  }

  // rank 포인트 획득 기준 설명 문구 2줄
  .desc {
    font-size: 14px;
    color: var(--primary);
    margin-top: -10px;
    margin-bottom: 30px;
    line-height: 1.5;
  }

  // home
  .popular {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
  }

  .latest {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    column-gap: 30px;
    row-gap: 15px;
    margin-bottom: 50px;
  }

  .recommended {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
  }

  // playlist/my 플레이리스트 격자 배치 (ul태그)
  .my-page {
    display: grid;
    grid-template-columns: repeat(6, minmax(150px, 1fr));
    gap: 20px;
  }

  // playlist/:id playlist 정보
  .playlist-page {
    display: flex;
    column-gap: 30px;
    margin-bottom: 40px;

    .left-col {
      img {
        display: block;
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
    .right-col {
      padding-top: 5px;

      .name {
        margin-bottom: 10px;
        font-size: 32px;
        font-weight: bold;
      }
      .user {
        margin-bottom: 16px;
        font-size: 16px;
        color: var(--subText);
      }

      button {
        i {
          margin-right: 5px;
        }
      }
    }
  }
}
