@keyframes fadeOut {
  0% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9999;
  display: grid;
  grid-template-columns: 37px auto;
  column-gap: 15px;
  align-items: center;
  width: 90%;
  max-width: 480px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 2px 5px #00000033;
  overflow: hidden;

  animation: fadeOut 1s ease-in-out forwards;
  animation-delay: 2s;

  .icon {
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    i {
      font-size: 20px;
      color: #ffffff;
    }
  }

  &.ok {
    border: 1px solid #90d8a4;
    background-color: #dbf1e1;
  }
  &.ok .icon {
    background-color: #63c980;
  }

  &.error {
    border: 1px solid #ea4e2c7c;
    background-color: #f9ded8;
  }
  &.error .icon {
    background-color: #ee6f54;
  }

  &.warning {
    border: 1px solid #ef94007c;
    background-color: #faead0;
  }
  &.warning .icon {
    background-color: #f2a830;
  }

  .msg {
    color: #5d6672 !important;
    line-height: 1.5;
    word-break: break-all;
    white-space: pre-wrap;
  }
}
