include mixins/message

doctype html
html(lang="ko")
    head
        script.
            const theme = localStorage.getItem("silk_music_theme") || "dark";
            document.documentElement.setAttribute("data-theme", theme);
            localStorage.setItem("silk_music_theme", theme);

        title #{pageTitle} | #{siteName}

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
        link(rel="stylesheet" href="/static/css/styles.css")

        link(rel='shortcut icon' href='/public/client/icon/icon.png')
        link(rel='apple-touch-icon' sizes='180x180' href='/public/client/icon/icon_ios.png')
        link(rel='icon' sizes='192x192' href='/public/client/icon/icon_android.png')

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        meta(property='og:title' content='Silk Music')
        meta(property='og:url' content='https://silk-music.herokuapp.com')
        meta(property='og:type' content='website')
        meta(property='og:image' content='')
        meta(property='og:description' content='실크미성 가수 진욱 님을 응원하는 뮤직 플랫폼')

    body
        if messages.ok
            +message("ok", messages.ok)
        if messages.error
            +message("error", messages.error)
        if messages.warning
            +message("warning", messages.warning)

        include partials/miniNav
        include partials/nav

        i#toggleThemeBtn

        main
            block content

        include partials/player
        include partials/modal

    script.
        const toggleThemeIcon = document.getElementById("toggleThemeBtn");
        toggleThemeIcon.className =  theme==="dark" ? "fa fa-sun" : "fa fa-moon" ;
        toggleThemeIcon.title= theme==="dark" ? "라이트모드로 전환" : "다크모드로 전환"; 

    script(src="https://www.youtube.com/iframe_api")
    script(src="/static/js/main.js")