include mixins/message

doctype html
html(lang="ko")
    head
        script.
            const theme = localStorage.getItem("silk_music_theme") || "dark";
            document.documentElement.setAttribute("data-theme", theme);
            localStorage.setItem("silk_music_theme", theme);

        title #{pageTitle} | #{siteName}

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
        link(rel="stylesheet" href="/static/css/styles.css")
        meta(name="theme-color" content="#ffffff")
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Some description')
        meta(name='viewport' content='width=device-width, initial-scale=1')

    body
        if messages.ok
            +message("ok", messages.ok)
        if messages.error
            +message("error", messages.error)

        include partials/miniNav

        include partials/nav

        i#toggleThemeBtn      

        main
            block content

        include partials/player
        include partials/modal

    script.
        const toggleThemeIcon = document.getElementById("toggleThemeBtn");
        toggleThemeIcon.className =  theme==="dark" ? "fa fa-sun" : "fa fa-moon" ;

    script(src="https://www.youtube.com/iframe_api")
    script(src="/static/js/main.js")

    block scripts