extends ../base

block content
    .center
        h2 로그인

        if errorMsg
            .errorMsg=errorMsg

        form(method="POST")
            .label 이메일
            input(name="email" id="email" placeholder="Email" type="email", required value=email autofocus)

            .label 비밀번호
            input(name="password" id="password" placeholder="Password" type="password", required, minLength="4" maxLength="15" autocomplete="new-password")

            button(type="submit") 로그인 (Log In)

